$header-color: #d9578d;

// Comment
h2 {
  margin-top: 2em;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: $header-color;
}

p {
  margin-top: 1em;
}

.count-down {
  font-family: Consolas, Monaco, monospace;
  font-size: 50px;
  text-align: center;
}
