@import "reset";
@import "box-sizing";

$site-width-with-margins: 762px;
$site-width: 636px;

body {
  background-color: #262626;
  color: white;
  font-family: Arial;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

efd-app {
  display: block;
  background-color: #3f3f3f;
  border-left: 3px solid #6a100e;
  border-right: 3px solid #6a100e;
  border-top: 3px solid #6a100e;
  border-bottom: 3px solid #6a100e;
  width: 636px;
  margin: auto;
  margin-top: 30px;
  //padding: 50px;
  //padding-top: 20px;
}

.top-bar, .bottom-bar {
  width: 420px;
  height: 10px;
  margin: auto;
  background-color: #6a100e;
  background-image: repeating-linear-gradient(-66.67deg, transparent, transparent 0px, #a81e22 4px, #a81e22 4px, transparent 8px);
}

.top-bar {
  border-radius: 7px 7px 0 0;
}

.bottom-bar {
  border-radius: 0 0 7px 7px;
}

.efd-gamezone {
  box-shadow: 0 0 5px black;
  width: 420px;
  margin: 30px auto;
  border-radius: 7px;

  efd-run-options {
    width: 420px;
    height: 520px;
    display: block;
    background: rgba(0,0,0, 0.2);
  }
}

efd-game {
  display: block;
  background-color: black;
  width: 420px;
  height: 520px;
  margin: auto;
}
