@import "themes/ef";

$input-border-color: map_get($theme-ef, "input-border-color");
$input-text-color: map_get($theme-ef, "input-text-color");
$form-button-bg-color: map_get($theme-ef, "form-button-bg-color");

input.small, select.small {
  background-color: white;
  outline: none;
  width: 150px;
  font-family: Trebuchet MS, Verdana, Georgia, sans serif;
  margin: 0;
  padding: 0;
  border: 1px solid $input-border-color;
  font-size: 10pt;
  color: $input-text-color;
  &:focus {
    border-style: dashed;
  }
}

input[type="submit"].small {
  width: 100%;
  color: #ffffff;
  background-color: $form-button-bg-color;
  border-top: 1px solid darken($form-button-bg-color, 5%);
  border-left: 1px solid darken($form-button-bg-color, 5%);
  border-bottom: 1px solid darken($form-button-bg-color, 18%);
  border-right: 1px solid darken($form-button-bg-color, 18%);
  text-align: center;
  cursor: pointer;

  &:not([disabled]):hover {
    border-top: 1px solid darken($form-button-bg-color, 18%);
    border-left: 1px solid darken($form-button-bg-color, 18%);
    border-bottom: 1px solid darken($form-button-bg-color, 5%);
    border-right: 1px solid darken($form-button-bg-color, 5%);
    background-color: darken($form-button-bg-color, 2%);
  }

  &[disabled] {
    cursor: default;
  }
}

.form-row {
  position: relative;
  height: 22px;
  margin-top: 8px;

  & > .left, & > .right {
    width: 50%;
    display: inline-block;
  }

  & > .left {
    padding-right: 30px;
    text-align: right;
    span {
      font-weight: bold;
    }
  }
}
