@import "themes/ef";
@import "themes/goodbye";
@import "themes/xmas";
@import "reset";
@import "box-sizing";
@import "theme";
@import "layout/all";
@import "layout/dimensions";
@import "theme/app";

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  min-width: $site-width-with-margins;
  font-family: Trebuchet MS, Verdana, Georgia, sans serif;
  font-size: 10pt;
  text-align: justify;
  position: relative;
}

ef-app {
  @include ef-app-theme($theme-ef);

  &.theme-xmas {
    @include ef-app-theme($theme-xmas);
  }

  &.theme-goodbye {
    @include ef-app-theme($theme-goodbye);
  }
}

@include app-theme($theme-ef);

ef-app.theme-xmas {
  @include app-theme($theme-xmas);
}

ef-app.theme-goodbye {
  @include app-theme($theme-goodbye);
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@import "tid-bar";
@import "theme/header";
@import "form";
