<nav>
  <a routerLink="/projects" title="Projects" i18n-title i18n>Projects</a>
  <button i18n="Main level editor button|Level editor name" (click)="openLevelEditor()">Level Editor</button>
  <button i18n="Main game bundler button|Game bundler name" (click)="openGameBundler()">Game Bundler</button>
</nav>
<router-outlet></router-outlet>
