<div *ngIf="projects === undefined; else projectListTemplate">
  Loading project list...
</div>
<ng-template #projectListTemplate>
  <ul>
    <li *ngFor="let project of projects">
      <a [href]="'/projects/' + project.id">
        <img [src]="'/img/eternaldev.x256.png'" alt="{{project.displayName}}"/>
        <span class="details">
          <span class="name">{{project.displayName}}</span>
          <span class="description">{{project.description}}</span>
          <span class="rootPath" *ngIf="project.localUrl !== undefined">{{project.localUrl}}</span>
        </span>
      </a>
    </li>
  </ul>
</ng-template>
