$icon-size: 60px;
$spacing: 10px;

a {
  display: flow-root;
  padding: $spacing;
  width: 100%;

  text-decoration: none;
  border: none;
  background-color: transparent;
  color: inherit;
  text-align: left;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  cursor: pointer;
}

img {
  float: left;
  width: $icon-size;
  height: $icon-size;
}

span {
  display: block;
}

.details {
  margin-left: $icon-size + $spacing;
}

.name {
  margin-bottom: $spacing / 2;
  font-size: 1.2em;
}

.description {
  text-align: justify;
  opacity: 0.7;
}

.rootPath {
  text-align: right;
  opacity: 0.5;
}
