efd-console {
  margin: 15px;
  min-height: 400px;
}

.efd-game-wrapper {
  position: relative;
}

efd-print-console {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  width: 420px;
  max-height: 520px;
}
