<form method="GET" (ngSubmit)="onSubmit($event)">
  <span>Mode de jeu</span>
  <ul>
    <li *ngFor="let mode of modes">
      <label>
        <input type="radio" [(ngModel)]="modeKey" name="mode" [value]="mode.key"/>
        {{mode.key}}
      </label>
    </li>
  </ul>
  <div *ngIf="mode !== undefined">
    <span>Options</span>
    <ul>
      <li *ngFor="let option of mode!.options">
        <label>
          <input type="checkbox" name="options[]" [value]="option.key" (change)="onOptionChange($event)"/>
          {{option.key}}
        </label>
      </li>
    </ul>
  </div>
  <span>Paramètres</span>
  <ul>
    <li><label><input type="checkbox" [(ngModel)]="detail" name="details"/> Détails graphiques élevés</label></li>
    <li><label><input type="checkbox" [(ngModel)]="shake" name="shake"/> Vibrations fréquentes</label></li>
    <li><label><input type="checkbox" [(ngModel)]="sound" name="sound"/> Son</label></li>
    <li><label><input type="checkbox" [(ngModel)]="music" name="music"/> Musique</label></li>
  </ul>
  <span>Profil</span>
  <ul>
    <li *ngFor="let pKey of profiles">
      <label>
        <input type="radio" [(ngModel)]="profileKey" name="profile" [value]="pKey"/>
        {{pKey}}
      </label>
    </li>
    <li>
      <label>
        <input type="radio" [(ngModel)]="profileKey" name="profile" value="default"/>
        default
      </label>
    </li>
  </ul>
  <input type="submit" value="Jouer" [disabled]="mode === undefined"/>
</form>
