$background-color: #e8b0b3;
$icon-size: 100px;
$spacing: 10px;
$text-color: #8f201e;
$game-modes-width: 180px;

.card {
  display: flow-root;
  background-color: $background-color;
  padding: $spacing;
  border-radius: $spacing;
}

.desktop-app {
  $border-color: #6a100e;
  padding: 10px 15px;
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin: 1em 0;
}

.top-bar, .bottom-bar {
  width: 420px;
  height: 10px;
  margin: auto;
  background-color: #6a100e;
  background-image: repeating-linear-gradient(-66.67deg, transparent, transparent 0px, #a81e22 4px, #a81e22 4px, transparent 8px);
}

.top-bar {
  border-radius: 7px 7px 0 0;
}

.bottom-bar {
  border-radius: 0 0 7px 7px;
}

.efd-gamezone {
  box-shadow: 0 0 5px black;
  width: 420px;
  margin: 30px auto;
  border-radius: 7px;
}

ef-game {
  display: block;
  background-color: black;
  width: 420px;
  height: 520px;
  margin: auto;
}

dt {
  float: left;
  position: relative;
  width: 240px;
  height: 20px;
  padding-top: 3px;
  display: inline;
  margin-bottom: 8px;
  text-align: right;
}

dd {
  margin-left: 260px;
  margin-bottom: 8px;
  height: 23px;
  font-size: 12pt;
  font-weight: bold;
  color: #d9578d;
}

.items {
  width: 360px;
  margin: auto;
}

.items li {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}
