<div *ngIf="game === undefined; else gameTemplate">
  <div i18n="Loading game info message@@games/game.loading">Loading...</div>
</div>
<ng-template #gameTemplate>
  <h1>
    <strong>{{game!.displayName}}</strong>
  </h1>
  <nav class="game-tabs">
    <a [routerLink]="['/games', game!.id]" i18n="Tab to the game main page@@games/game.tab">Game</a>
    <a [routerLink]="['/games', game!.id, 'leaderboard']" i18n="Tab to the game main page@@games/leaderboard.tab">Leaderboard</a>
  </nav>
  <div class="details card">
    <img
      src="{{game!.iconFile | gameIconUri}}"
      [alt]="game!.displayName"
    />
    <div class="right">
      <p class="description">{{game!.description}}</p>
      <dl>
        <div>
          <dt i18n="@@games/game.author">Author:</dt>
          <dd>{{game!.author!.displayName}}</dd>
        </div>
        <div>
          <dt i18n="@@games/game.publicationDate">Publication date:</dt>
          <dd>
            <ng-container *ngIf="game!.publicationDate !== null; else noPublicationDate">
              {{game!.publicationDate | date}}
            </ng-container>
            <ng-template #noPublicationDate>
              No publication date
            </ng-template>
          </dd>
        </div>
      </dl>
    </div>
    <div *ngIf="isAdmin$ | async">
      <ng-container *ngIf="game!.publicationDate !== null; else noPublicationDateButton">
        <button (click)="setPublicationDate(null)">Remove publicationDate</button>
      </ng-container>
      <ng-template #noPublicationDateButton>
        <input type="datetime-local" [(ngModel)]="newPublicationDate" name="new_publication_date"/>
        <button (click)="setPublicationDate(newPublicationDate)">Set publicationDate</button>
      </ng-template>
    </div>
  </div>
  <form class="run-options" method="POST" (ngSubmit)="onSubmit($event)">
    <div>
      <div class="card">
        <h2 i18n="@@games/game.modesTitle">Game modes</h2>
        <ul>
          <li *ngFor="let gameMode of game!.gameModes;">
            <label>
              <ng-container [ngSwitch]="gameMode.state">
                <input *ngSwitchCase="GameModeState.Disabled" type="radio" name="game_mode" [value]="gameMode.key" disabled/>
                <input *ngSwitchCase="GameModeState.Enabled" type="radio" [(ngModel)]="gameModeKey" name="game_mode" [value]="gameMode.key"/>
                <pre *ngSwitchCaseDefault>[unknown state: {{gameMode.state | json}}]</pre>
              </ng-container>
              <ef-game-mode-name [mode]="gameMode.displayName"></ef-game-mode-name>
            </label>
          </li>
        </ul>
        <input type="radio" name="game_mode" [value]="undefined" hidden/>
      </div>
      <div class="card">
        <h2 i18n="@@games/game.settingsTitle">Settings</h2>
        <ul>
          <li>
            <label><input type="checkbox" [(ngModel)]="detail" name="detail"/>
              <ng-container i18n="@@games/game.settings.detail">High quality graphics</ng-container>
            </label>
          </li>
          <li>
            <label><input type="checkbox" [(ngModel)]="shake" name="shake"/>
              <ng-container i18n="@@games/game.settings.shake">Frequent vibrations</ng-container>
            </label>
          </li>
          <li>
            <label><input type="checkbox" [(ngModel)]="sound" name="sound"/>
              <ng-container i18n="@@games/game.settings.sound">Sound</ng-container>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" [(ngModel)]="music" name="music"/>
              <ng-container i18n="@@games/game.settings.music">Music</ng-container>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <h2><strong><ef-game-mode-name [mode]="gameMode?.displayName"></ef-game-mode-name></strong> - <ng-container i18n="@@games/game.optionsTitle">Options</ng-container></h2>
      <ul *ngIf="gameMode !== undefined">
        <li *ngFor="let option of gameMode.options;">
          <label (change)="onOptionChange($event)">
            <ng-container [ngSwitch]="option.state">
              <input *ngSwitchCase="GameOptionState.Disabled" type="checkbox" disabled/>
              <input *ngSwitchCase="GameOptionState.Enabled" type="checkbox" name="options[]" [value]="option.key"/>
              <input *ngSwitchCase="GameOptionState.Locked" type="checkbox" checked disabled/>
              <pre *ngSwitchCaseDefault>[unknown state: {{option.state | json}}]</pre>
            </ng-container>
            <ef-game-option-name [option]="option.displayName"></ef-game-option-name>
          </label>
        </li>
        <li *ngIf="gameMode.options.length === 0" class="no-options" i18n="@@games/game.noOptions">No options available</li>
      </ul>
      <div class="spanner"></div>
      <input class="small" type="submit" value="Play" i18n-value="@@games/game.play" [disabled]="gameMode === undefined">
    </div>
  </form>
</ng-template>
