$background-color: #e8b0b3;
$text-color: #8f201e;
$border-color: #6a100e;

table {
    border: 1px solid $border-color;
}

thead th {
    padding: 4px;
    text-align: center;
    background-color: $background-color;
    color: $text-color;
    border: 1px solid $border-color;
}

td {
    padding: 4px;
    text-align: center;
    border: 1px solid $border-color;
}

// Brutally stolen from https://stackoverflow.com/a/7828603
.game-tabs a {
    display: block;
    float: left;
    padding: 10px 15px;
    background: $background-color;
    border: 1px solid $border-color;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin-right: 1px;
    color: $text-color;
    text-decoration: none
}

nav {
    border-bottom: 1px solid $border-color;
    padding: 0px 0px 34px 0px;
}
