<h1 i18n="Title of the games list page@@games/game-list.title">Games</h1>
<ul>
  <li *ngFor="let game of games;">
    <a [routerLink]="['/games', game.id]">
      <img
        src="{{game.iconFile | gameIconUri}}"
        [alt]="game.displayName"
      />
      <span class="details">
        <span class="name">{{game.displayName}}</span>
        <span class="description">{{game.description}}</span>
      </span>
    </a>
  </li>
</ul>
