<div *ngIf="leaderboard === undefined; else leaderboardTemplate">
  <div i18n="Loading leaderboard info message@@games/leaderboard.loading">Loading...</div>
</div>
<ng-template #leaderboardTemplate="">
  <h1>
    <strong>{{leaderboard!.game!.displayName}}</strong>
  </h1>
  <nav class="game-tabs">
    <a [routerLink]="['/games', leaderboard!.game!.id]" i18n="Tab to the game main page@@games/game.tab">Game</a>
    <a [routerLink]="['/games', leaderboard!.game!.id, 'leaderboard']" i18n="Tab to the game main page@@games/leaderboard.tab">Leaderboard</a>
  </nav>
  <table>
    <thead>
      <tr>
        <th i18n="Head of the pseudo column of leaderboard@@games/leaderboard-pseudo.column">Pseudo</th>
        <th i18n="Head of the score column of leaderboard@@games/leaderboard-score.column">Score</th>
        <th i18n="Head of the reached level column of leaderboard@@games/leaderboard-reached-level.column">Reached level</th>
        <th i18n="Head of the run options column of leaderboard@@games/leaderboard-run-options.column">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of leaderboard!.results;">
        <td><a [routerLink]="['/users', entry!.user!.id]">{{entry!.user!.displayName}}</a></td>
        <td><a [routerLink]="['/runs', entry!.run!.id]">{{entry!.score}}</a></td>
        <td>{{entry!.run!.maxLevel}}</td>
        <td>{{entry!.run!.gameOptions}}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
