$background-color: #e8b0b3;
$icon-size: 100px;
$spacing: 10px;
$text-color: #8f201e;
$border-color: #6a100e;

.card {
  background-color: $background-color;
  padding: $spacing;
  border-radius: $spacing;
}

.details {
  img {
    float: left;
    width: $icon-size;
    height: $icon-size;
    border-radius: $spacing / 2;
  }

  .right {
    margin-left: $icon-size + $spacing;
  }

  dl {
    margin-top: $spacing;
    position: relative;
  }

  dt {
    position: relative;
    padding-top: 3px;
    display: inline;
    text-align: right;
    padding-right: $spacing / 2;
  }

  dd {
    margin-left: 50%;
    margin-bottom: 8px;
    padding-left: $spacing / 2;
    height: 23px;
    font-size: 12pt;
    font-weight: bold;
    color: #d9578d;
  }
}

h2 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 12pt;
  font-weight: normal;
  text-align: right;
  border-bottom: solid 1px $text-color;
}

.run-options {
  display: flex;
  margin-left: -$spacing;

  .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: $spacing;
    margin-left: $spacing;

    .spanner {
      flex: 999999;
    }
  }

  .no-options {
    font-style: italic;
    margin: 7px;
  }
}

// Brutally stolen from https://stackoverflow.com/a/7828603
.game-tabs a {
    display: block;
    float: left;
    padding: 10px 15px;
    background: $background-color;
    border: 1px solid $border-color;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin-right: 1px;
    color: $text-color;
    text-decoration: none
}

nav {
    border-bottom: 1px solid $border-color;
    padding: 0 0 34px 0;
}
