.main-nav {
  .games {
    background-image: url("/assets/theme-ef/icon_efest.png");
    background-repeat: no-repeat;
    display: block;
    width: 92px;
    height: 83px;
    margin-left: -53px;
    margin-bottom: 20px;
    color: transparent;

    &:hover {
      background-image: url("/assets/theme-ef/icon_efest_on.png");
    }
  }
}
